body {

}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.leaflet-control-layers-toggle {
	background-image: url(https://samizdat.cz/tools/leaflet/images/layers.png);
}

.leaflet-control-layers-overlays input[disabled="true"] + span {
	color: #aaa;
}

.leaflet-marker-icon {
	overflow: hidden;
	border: 0px none;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.leaflet-marker-icon > div {
	width: 100%;
	height: 100%;
}
